@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,500&display=swap');

.lg {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lg-h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.lg-orange {
    color: orange;

    animation: flicker 1.5s infinite alternate
}

.lg-blue {
    color: rgb(10, 231, 231);
    text-shadow: 
        0 0 42px rgb(10, 231, 231),
        0 0 82px rgb(10, 231, 231),
        0 0 92px rgb(10, 231, 231),
        0 0 102px rgb(10, 231, 231),
        0 0 151px rgb(10, 231, 231);
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 42px orange,
        0 0 82px orange,
        0 0 92px orange,
        0 0 102px orange,
        0 0 151px orange;
    }
    20%, 24%, 55% {
        text-shadow: none;
    }
}

.Board {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 
        0 0 7px #fff,
        0 0 10px #fff
    ;
}

.Board-row {
    display: inline-block;
    width: auto
}

.Board-hasWon {
    color: white;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 0;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 
        0 0 20px white,
        0 0 30px white,
        0 0 40px white;
}

.Cell-on {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(18, 231, 231);
    border: none;
    margin: 20px;
    box-shadow:
        0 0 22px rgb(18, 231, 231),
        0 0 42px rgb(18, 231, 231)
    ;
}

.Cell-off {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    margin: 20px;
    background-color: rgb(55, 55, 55);
}

.movesh2 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.escape {
    color: #fff;
    font-size: 1em;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.escape:hover {
    background-color: #333;
}