
.sliderWrapper {
    font-family: sans-serif;
    text-align: center;
}

.moves {
    color: #fff;
}

.playButton {
    color: #555;
    font-size: 1em;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    padding: 3px;
    background-color: #fff;
}
