@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Games", sans-serif;
}

.title {
  font-family: "Games", sans-serif;
  font-weight: bold;
  font-size: 70px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.placement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
  margin-top: 60px;
}

.placementTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button:hover {
  background-color: #45a049;
}

.button:active {
  background-color: #3e8e41;
}

body {
  background-image: url("https://i.pinimg.com/originals/76/aa/24/76aa24bf1e433a13444c18c5df7b839b.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.placementButton {
  align-items: right;
}

.buttonAudio {
  width: 42px;
  height: 42px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.buttonAudio:hover {
  background-color: #45a049;
}

.buttonAudio:active {
  background-color: #3e8e41;
}

#userTextBox {
  width: 1000px;
  height: 100px;
  border-radius: 10px;
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  font-family: "Games", sans-serif;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.dialogBox {
  display: inline-block;
  font-family: "Press Start 2P", cursive;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.animatedText {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.nextButton {
  background-color: #000000;
  color: #fff;
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.nextButton:hover {
  background-color: #45a049;
}

.nextButton:active {
  background-color: #3e8e41;
}

.error {
  text-align: center;
  font-family: "Games", sans-serif;
  color: red;
  font-size: 30px;
}
